---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---
<Layout>
    <h1 class="text-2xl pt-5 pb-20">Graphique des peinguins Adelie</h1>
    <GraphicSpecies species="Adelie" />
</Layout>