---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---

<Layout>
  <h1 class="text-2xl pt-5 pb-10">Graphique des penguins Gentoo</h1>
  <GraphicSpecies species="Gentoo" />
</Layout>